<section class="light ux-sections">
        <div class="container text-center" >
          <img src="assets/icons/template.png" style="width:125px;">
          <div *ngIf="DevkitsInventory">
            <h2>Devkits</h2>
            <p>Below are all our devkits</p>          
          </div>
          <div class="row">  
            <table class="table table-striped table-clickable table-panel" *ngIf="DevkitsInventory">
              <thead>
                <tr>                                
                  <th><span class="text-nowrap">Name</span></th>                                
                  <th><span class="text-nowrap">Description</span></th>                  
                </tr>
              </thead>
              <p *ngIf="!DevkitsInventory"><em>Loading Devkits please Wait ! ...</em></p>
              <tbody *ngFor="let Devkit of DevkitsInventory">                          
                <tr>                                
                  <td><a [routerLink]="['/modify', Devkit.devkitID]"><span class="text-nowrap">{{Devkit.shortName}}</span></a></td>
                  <td><a [routerLink]="['/modify', Devkit.devkitID]">{{Devkit.description}}</a></td>                                 
                </tr>
              </tbody>
             </table>
          </div>
        </div>    
      </section>