<section class="light ux-sections">
    <div class="container text-center" >          
      <div *ngIf="Devkit">
      <h2 id="Devkit.name" *ngIf="!editMode" (click)="handleClick()">{{Devkit.name}}</h2>
      <span *ngIf="editMode">
        <input type="text" #devkitName class="form-control" [(ngModel)]="Devkit.name" value={{Devkit.name}}>
        <button (click)="save(Devkit); editMode = false">Save</button>
      </span>
         </div>
      <p>{{Devkit.description}}</p>
      <i>Designed by {{Devkit.email}}</i>
    </div>
      <div class="row">  
        <table class="table table-striped table-clickable table-panel" *ngIf="ToolsInventory">
          <thead>
            <tr>                                
              <th>Name</th>                                
              <th>Description</th>
              <th><span class="text-nowrap">Get it</span></th>
            </tr>
          </thead>
          <p *ngIf="!ToolsInventory"><em>Loading Tools please Wait ! ...</em></p>
          <tbody *ngFor="let INVY  of ToolsInventory">                          
            <tr>                                
              <td><a href="{{INVY.urlRef}}" target="_blank"><span class="text-nowrap">{{INVY.name}}</span></a></td>
              <td>{{INVY.description}}</td>
              <td><a href="{{INVY.aquire}}" target="_blank"><span class="text-nowrap">{{INVY.aquireType}}</span></a></td>
            </tr>
          </tbody>
         </table>
      </div>
    
  </section>