<section class="light ux-sections">
    <div class="container text-center" > 
    
        <label class="control-label" for="name">Devkit Short Name</label>        
        <input type="text" #devkitShortName (ngModel)="sShortName" value="{{sShortName}}" class="form-control" placeholder="Short Name" id="sShortName" required>
    
    <div class="form-group">
        <label class="control-label" for="name">Devkit name</label>        
        <input type="text" #devkitName (ngModel)="sName" class="form-control" placeholder="Awesome Devkit Name" id="sName" required>
    </div>
    <div class="form-group">
        <label class="control-label" for="description">Description</label>        
        <input type="text" #devkitDescription (ngModel)="sDescription"  class="form-control" placeholder="Awesome Devkit Description" id="sDescription" required>
    </div>
    <div class="form-group">
        <label class="control-label" for="designer">Designer's email adress</label>        
        <input type="text" #devkitDesigner (ngModel)="sDesigner" class="form-control" placeholder="john.doe@devkit.com" id="sDesigner" required>
    </div>   
    <div class="container text-left">   
      <label class="control-label">Add Tool
    </label> 
    </div>
    
        <table class="table table-striped table-sm">
          <thead>
            <tr>                                
              <th>Name</th>                                
              <th>Description</th>
              <th><span class="text-nowrap">Get it</span></th>
              <th><span class="text-nowrap"><button class="btn btn-default" (click)=AddTool()>Add tool</button></span></th>
            </tr>
          </thead>
          <tbody>                          
            <tr>                                
              <td><select (change)="onSelect($event.target.value)"> 
                  <option selected="0" value="0"></option>                               
                    <option *ngFor="let tool of ToolsInventory" value={{tool.toolID}}>{{tool.name}}</option>
                </select></td>
                <td *ngIf="selectedTool"><div class="text-nowrap text-truncate">{{selectedTool.description}}</div></td>
                <td *ngIf="selectedTool"><span class="text-nowrap">{{selectedTool.urlRef}}</span></td>
                <td *ngIf="selectedTool"><span class="text-nowrap">{{selectedTool.aquire}}</span></td>
            </tr>
          </tbody>
         </table>

      <button (click)="addDevkit(devkitShortName.value, devkitName.value, devkitDescription.value, devkitDesigner.value);" 
      class="btn btn-success">Submit</button>
    </div> 
  </section>