<section class="light ux-sections">
  <div class="container text-center" >
    <img src="assets/icons/template.png" style="width:125px;">
    <div *ngIf="ToolsInventory">
      <h2>Tools</h2>
      <p>Below are all tools</p>          
    </div>
    <div class="row">  
        <div class="text-right">
        <span class="text-nowrap">
            <button *ngIf="!editMode" class="btn btn-info btn-md" (click)="edit()">Edit  
            </button>
            <button *ngIf="editMode" class="btn btn-success btn-md" (click)="editMode = false">Done
            </button></span>
            </div>
      <table class="table table-striped table-clickable table-panel" *ngIf="ToolsInventory">
        <thead>
          
          <tr>                                
            <th><span class="text-nowrap">Name</span></th>                             
            <th><span class="text-nowrap">Description</span></th>                  
            <th><span class="text-nowrap">More info</span></th>  
            <th><span class="text-nowrap">Aquire</span></th>              
            <th *ngIf="editMode"><span class="text-nowrap">Delete</span></th>              
          </tr>          
        </thead>
        <p *ngIf="!ToolsInventory"><em>Loading Tools please Wait ! ...</em></p>
        <tbody >                          
          <tr *ngFor="let Tool of ToolsInventory">                                
            <td ><span class="text-nowrap">{{Tool.name}}</span></td>           
            <td>{{Tool.description}}</td>   
            <td><a href="{{Tool.urlRef}}" target="__blank">Link</a></td>               
            <td><span class="text-nowrap"><a href="{{Tool.aquire}}" target="__blank">{{Tool.aquireType}}</a></span></td>              
            <td *ngIf="editMode"><button  class="btn btn-danger btn-md" (click)="deleteTool(Tool.toolID)">Delete</button></td>              
          </tr>
        </tbody>
      </table>          
      <div class="panel panel-primary" *ngIf="editMode">                          

            <h3>Add new tool</h3>
            <div class="col-xs-12 col-md-3">
                <div class="form-group">
                  <label class="control-label">Tool name</label>
                  <input type="text"  #name id="toolName" class="form-control" placeholder="Supertool" [(ngModel)]="newTool.name" >
                </div>
                
              </div>
              <div class="fcol-xs-12 col-md-9">
                <div class="form-group">
                  <label class="control-label nowrap">Description</label>
                  <input type="text" class="form-control" placeholder="Description of the tool" [(ngModel)]="newTool.description" >
                </div>
              </div>
              <div class="fcol-xs-12 col-md-9">
                  <div class="form-group">
                    <label class="control-label nowrap">Info URL</label>
                    <input type="text" class="form-control" placeholder="http://www.toolinfo.org" [(ngModel)]="newTool.urlRef" >
                  </div>
                </div>
                <div class="fcol-xs-12 col-md-9">
                    <div class="form-group">
                      <label class="control-label nowrap">Aquire URL</label>
                      <input type="text" class="form-control" placeholder="http://www.downloadtool.com/download" [(ngModel)]="newTool.aquire" >
                    </div>
                  </div>
                  <div class="fcol-xs-12 col-md-3">
                      <div class="form-group">
                        <label class="control-label nowrap">Aquire Type</label>
                        <input type="text" class="form-control" placeholder="Download" [(ngModel)]="newTool.aquireType" >
                      </div>
                  </div>
                  <div class="fcol-xs-12 col-md-2">
                      <div class="form-group">
                          <button class="btn btn-success" (click)=addNewTool(newTool)>Add  
                            </button>                
                      </div>
                  </div>

      </div>

    </div>          
  </div>

</section>